<style>
	label 	{
		display: block;
		clear: both;
	}
</style>
<div id="group_cities">
		<hr>
		<button id="select_all_cities" data-set>Select/Deselect All</button>
		<button id="select_all_gta">Select / Deselect Only GTA</button>
		<hr>
		<label for="frm_inventory_cities">
	Cities
	
</label>
<input type="text" name="different_type" id="is_different" />
<label for="frm_inventory_cities_0">
	<input type="checkbox" id="frm_inventory_cities_0" name="inventory_cities[0]" value="1">
	Toronto
</label>
<label for="frm_inventory_cities_1">
	<input type="checkbox" id="frm_inventory_cities_1" name="inventory_cities[1]" value="3">
	Vancouver
</label>
<label for="frm_inventory_cities_2">
	<input type="checkbox" id="frm_inventory_cities_2" name="inventory_cities[2]" value="4">
	Calgary
</label>
<label for="frm_inventory_cities_3">
	<input type="checkbox" id="frm_inventory_cities_3" name="inventory_cities[3]" value="5">
	Ottawa
</label>
<label for="frm_inventory_cities_4">
	<input type="checkbox" id="frm_inventory_cities_4" name="inventory_cities[4]" value="6">
	Halifax
</label>
<label for="frm_inventory_cities_5">
	<input type="checkbox" id="frm_inventory_cities_5" name="inventory_cities[5]" value="7">
	London  ON
</label>
<label for="frm_inventory_cities_6">
	<input type="checkbox" id="frm_inventory_cities_6" name="inventory_cities[6]" value="8">
	Barrie
</label>
<label for="frm_inventory_cities_7">
	<input type="checkbox" id="frm_inventory_cities_7" name="inventory_cities[7]" value="9">
	Edmonton
</label>
<label for="frm_inventory_cities_8">
	<input type="checkbox" id="frm_inventory_cities_8" name="inventory_cities[8]" value="15">
	Winnipeg
</label>
<label for="frm_inventory_cities_9">
	<input type="checkbox" id="frm_inventory_cities_9" name="inventory_cities[9]" value="34">
	Pickering / Ajax
</label>
<label for="frm_inventory_cities_10">
	<input type="checkbox" id="frm_inventory_cities_10" name="inventory_cities[10]" value="37">
	Oshawa / Whitby / Clarington
</label>
<label for="frm_inventory_cities_11">
	<input type="checkbox" id="frm_inventory_cities_11" name="inventory_cities[11]" value="38">
	Northumberland
</label>
<label for="frm_inventory_cities_12">
	<input type="checkbox" id="frm_inventory_cities_12" name="inventory_cities[12]" value="39">
	Port Perry / Uxbridge
</label>
<label for="frm_inventory_cities_13">
	<input type="checkbox" id="frm_inventory_cities_13" name="inventory_cities[13]" value="40">
	Vaughan
</label>
<label for="frm_inventory_cities_14">
	<input type="checkbox" id="frm_inventory_cities_14" name="inventory_cities[14]" value="41">
	Richmond Hill / Thornhill
</label>
<label for="frm_inventory_cities_15">
	<input type="checkbox" id="frm_inventory_cities_15" name="inventory_cities[15]" value="43">
	Aurora / Newmarket
</label>
<label for="frm_inventory_cities_16">
	<input type="checkbox" id="frm_inventory_cities_16" name="inventory_cities[16]" value="44">
	Bradford / West Gwillimbury
</label>
<label for="frm_inventory_cities_17">
	<input type="checkbox" id="frm_inventory_cities_17" name="inventory_cities[17]" value="45">
	Georgina
</label>
<label for="frm_inventory_cities_18">
	<input type="checkbox" id="frm_inventory_cities_18" name="inventory_cities[18]" value="46">
	Alliston / Innisfil / Angus
</label>
<label for="frm_inventory_cities_19">
	<input type="checkbox" id="frm_inventory_cities_19" name="inventory_cities[19]" value="47">
	Collingwood / Stayner / Wasaga / Meaford / Thornbu
</label>
<label for="frm_inventory_cities_20">
	<input type="checkbox" id="frm_inventory_cities_20" name="inventory_cities[20]" value="48">
	Orillia / Midland / Penetang
</label>
<label for="frm_inventory_cities_21">
	<input type="checkbox" id="frm_inventory_cities_21" name="inventory_cities[21]" value="49">
	Bracebridge / Gravenhurst
</label>
<label for="frm_inventory_cities_22">
	<input type="checkbox" id="frm_inventory_cities_22" name="inventory_cities[22]" value="50">
	Muskoka / Parry Sound / Almaguin
</label>
<label for="frm_inventory_cities_23">
	<input type="checkbox" id="frm_inventory_cities_23" name="inventory_cities[23]" value="51">
	Hamilton
</label>
<label for="frm_inventory_cities_24">
	<input type="checkbox" id="frm_inventory_cities_24" name="inventory_cities[24]" value="52">
	Guelph
</label>
<label for="frm_inventory_cities_25">
	<input type="checkbox" id="frm_inventory_cities_25" name="inventory_cities[25]" value="53">
	Kitchener / Waterloo
</label>
<label for="frm_inventory_cities_26">
	<input type="checkbox" id="frm_inventory_cities_26" name="inventory_cities[26]" value="54">
	Markham / Stouffville
</label>
<label for="frm_inventory_cities_27">
	<input type="checkbox" id="frm_inventory_cities_27" name="inventory_cities[27]" value="55">
	Oakville
</label>
<label for="frm_inventory_cities_28">
	<input type="checkbox" id="frm_inventory_cities_28" name="inventory_cities[28]" value="56">
	Cambridge
</label>
<label for="frm_inventory_cities_29">
	<input type="checkbox" id="frm_inventory_cities_29" name="inventory_cities[29]" value="57">
	Niagara Falls
</label>
<label for="frm_inventory_cities_30">
	<input type="checkbox" id="frm_inventory_cities_30" name="inventory_cities[30]" value="58">
	Peterborough
</label>
<label for="frm_inventory_cities_31">
	<input type="checkbox" id="frm_inventory_cities_31" name="inventory_cities[31]" value="59">
	Kawartha Lakes
</label>
<label for="frm_inventory_cities_32">
	<input type="checkbox" id="frm_inventory_cities_32" name="inventory_cities[32]" value="60">
	Etobicoke
</label>
<label for="frm_inventory_cities_33">
	<input type="checkbox" id="frm_inventory_cities_33" name="inventory_cities[33]" value="61">
	Scarborough
</label>
<label for="frm_inventory_cities_34">
	<input type="checkbox" id="frm_inventory_cities_34" name="inventory_cities[34]" value="63">
	Mississauga
</label>
<label for="frm_inventory_cities_35">
	<input type="checkbox" id="frm_inventory_cities_35" name="inventory_cities[35]" value="64">
	Brampton
</label>
<label for="frm_inventory_cities_36">
	<input type="checkbox" id="frm_inventory_cities_36" name="inventory_cities[36]" value="66">
	Orangeville / Caledon
</label>
<label for="frm_inventory_cities_37">
	<input type="checkbox" id="frm_inventory_cities_37" name="inventory_cities[37]" value="68">
	Listowel
</label>
<label for="frm_inventory_cities_38">
	<input type="checkbox" id="frm_inventory_cities_38" name="inventory_cities[38]" value="69">
	Fergus
</label>
<label for="frm_inventory_cities_39">
	<input type="checkbox" id="frm_inventory_cities_39" name="inventory_cities[39]" value="70">
	Elmira
</label>
<label for="frm_inventory_cities_40">
	<input type="checkbox" id="frm_inventory_cities_40" name="inventory_cities[40]" value="71">
	St. Marys
</label>
<label for="frm_inventory_cities_41">
	<input type="checkbox" id="frm_inventory_cities_41" name="inventory_cities[41]" value="72">
	Minto
</label>
<label for="frm_inventory_cities_42">
	<input type="checkbox" id="frm_inventory_cities_42" name="inventory_cities[42]" value="73">
	Wingham
</label>
<label for="frm_inventory_cities_43">
	<input type="checkbox" id="frm_inventory_cities_43" name="inventory_cities[43]" value="74">
	Exeter
</label>
<label for="frm_inventory_cities_44">
	<input type="checkbox" id="frm_inventory_cities_44" name="inventory_cities[44]" value="75">
	Mount Forest
</label>
<label for="frm_inventory_cities_45">
	<input type="checkbox" id="frm_inventory_cities_45" name="inventory_cities[45]" value="76">
	Stratford
</label>
<label for="frm_inventory_cities_46">
	<input type="checkbox" id="frm_inventory_cities_46" name="inventory_cities[46]" value="77">
	Walkerton
</label>
<label for="frm_inventory_cities_47">
	<input type="checkbox" id="frm_inventory_cities_47" name="inventory_cities[47]" value="78">
	Georgetown
</label>
<label for="frm_inventory_cities_48">
	<input type="checkbox" id="frm_inventory_cities_48" name="inventory_cities[48]" value="79">
	Brantford
</label>
<label for="frm_inventory_cities_49">
	<input type="checkbox" id="frm_inventory_cities_49" name="inventory_cities[49]" value="80">
	St. Catharines
</label>
<label for="frm_inventory_cities_50">
	<input type="checkbox" id="frm_inventory_cities_50" name="inventory_cities[50]" value="81">
	Welland
</label>
<label for="frm_inventory_cities_51">
	<input type="checkbox" id="frm_inventory_cities_51" name="inventory_cities[51]" value="82">
	Fort Erie
</label>
<label for="frm_inventory_cities_52">
	<input type="checkbox" id="frm_inventory_cities_52" name="inventory_cities[52]" value="83">
	Grimsby
</label>
<label for="frm_inventory_cities_53">
	<input type="checkbox" id="frm_inventory_cities_53" name="inventory_cities[53]" value="84">
	Kingston
</label>
<label for="frm_inventory_cities_54">
	<input type="checkbox" id="frm_inventory_cities_54" name="inventory_cities[54]" value="85">
	Windsor
</label>
<label for="frm_inventory_cities_55">
	<input type="checkbox" id="frm_inventory_cities_55" name="inventory_cities[55]" value="86">
	Belleville / Quinte
</label>
<label for="frm_inventory_cities_56">
	<input type="checkbox" id="frm_inventory_cities_56" name="inventory_cities[56]" value="87">
	Regina
</label>
<label for="frm_inventory_cities_57">
	<input type="checkbox" id="frm_inventory_cities_57" name="inventory_cities[57]" value="88">
	Saskatoon
</label>
<label for="frm_inventory_cities_58">
	<input type="checkbox" id="frm_inventory_cities_58" name="inventory_cities[58]" value="89">
	Victoria
</label>
<label for="frm_inventory_cities_59">
	<input type="checkbox" id="frm_inventory_cities_59" name="inventory_cities[59]" value="91">
	Sudbury
</label>
<label for="frm_inventory_cities_60">
	<input type="checkbox" id="frm_inventory_cities_60" name="inventory_cities[60]" value="92">
	St. John's
</label>
<label for="frm_inventory_cities_61">
	<input type="checkbox" id="frm_inventory_cities_61" name="inventory_cities[61]" value="121">
	Cayuga
</label>
<label for="frm_inventory_cities_62">
	<input type="checkbox" id="frm_inventory_cities_62" name="inventory_cities[62]" value="127">
	Caledonia
</label>
<label for="frm_inventory_cities_63">
	<input type="checkbox" id="frm_inventory_cities_63" name="inventory_cities[63]" value="133">
	Hagersville
</label>
<label for="frm_inventory_cities_64">
	<input type="checkbox" id="frm_inventory_cities_64" name="inventory_cities[64]" value="139">
	Dunnville
</label>
<label for="frm_inventory_cities_65">
	<input type="checkbox" id="frm_inventory_cities_65" name="inventory_cities[65]" value="141">
	Milton
</label>
<label for="frm_inventory_cities_66">
	<input type="checkbox" id="frm_inventory_cities_66" name="inventory_cities[66]" value="161">
	Lethbridge
</label>
<label for="frm_inventory_cities_67">
	<input type="checkbox" id="frm_inventory_cities_67" name="inventory_cities[67]" value="176">
	Port Colborne
</label>
<label for="frm_inventory_cities_68">
	<input type="checkbox" id="frm_inventory_cities_68" name="inventory_cities[68]" value="186">
	St Thomas / Elgin County
</label>
<label for="frm_inventory_cities_69">
	<input type="checkbox" id="frm_inventory_cities_69" name="inventory_cities[69]" value="191">
	Brock
</label>
<label for="frm_inventory_cities_70">
	<input type="checkbox" id="frm_inventory_cities_70" name="inventory_cities[70]" value="196">
	Haliburton
</label>
<label for="frm_inventory_cities_71">
	<input type="checkbox" id="frm_inventory_cities_71" name="inventory_cities[71]" value="206">
	Burlington
</label>
		</div>

<script src="../src/Checkboxes.js"></script>

<script>
	/**
	 * Callback and local vars for functionality of this page
	 */
	var gtaSelected = false;
	var citiesSelected = false;

	var setFalse = function(){
		citiesSelected = false;
		gtaSelected = false;
		holy = 'yes';
	}

	function setTrue () {
		citiesSelected = true;
		gtaSelected = true;
		holy = 'no';
	}
	/**
	 * END// Callback and local vars for functionality
	 */

	 /**
	  * Array with our custom selected checkboxes
	  */
	var gtaCheckboxes = ['frm_inventory_cities_0', 'frm_inventory_cities_1', 'frm_inventory_cities_34', 'frm_inventory_cities_40', 'frm_inventory_cities_41', 'frm_inventory_cities_54', 'frm_inventory_cities_60', 'frm_inventory_cities_61', 'frm_inventory_cities_63', 'frm_inventory_cities_64'];
	/**
	 * Here it's demonstrated how a callback function can be passed in
	 */
	document.getElementById('select_all_cities').onclick = function( e ){
		
		e.preventDefault();

		if(citiesSelected){
			//Anonymous function callback
			Checkboxes.check('group_cities', 'none', function() {
				gtaSelected = false;
				citiesSelected = false;
			});
			
		} else {
			//No callback
			gtaSelected = true;
			citiesSelected = true;
			Checkboxes.check('group_cities', 'all');
		}
	}
	/**
	 * Without a callback.
	 */
	document.getElementById('select_all_gta').onclick = function( e ) {
		
		e.preventDefault();

		if(gtaSelected){
			//callback passed by variable reference
			Checkboxes.check(gtaCheckboxes, 'none', setFalse);
		} else {
			//callback by function reference
			Checkboxes.check(gtaCheckboxes, 'all', setTrue());
		}
	}
</script>